footer {
    background-color: #1789FC;
    margin: 20px;
    padding: 10px;
    border: solid 1px;
    border-color: black;
    
}
h2 {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: palatino, Arial, Helvetica, sans-serif;
}